<div id="guide4View" class="container">
    <div class="guideView-title title1">4.Then.. That's get stacking views up!!</div>
    <div class="guideView-xmpContainer">
        <xmp>
stackup.first("VIEW NAME",
    {PARAMETER})
        
stackup.push("VIEW NAME",
    {PARAMETER})
        
stackup.pop({PARAMETER})
        
stackup.change("VIEW NAME",
    {PARAMETER})    
        </xmp>
    </div>    
    <div class="guideView-content row">
        <span class="guideView-leftCol">
            <span id="popToGuid3">
            <i class="fa fa-arrow-circle-left title1" aria-hidden="true"></i> &nbsp;&nbsp; POP!!
            </span>
        </span>
        <span class="guideView-rightCol">
            <span id="initNewStage">
            <i class="fa fa-check-circle title1" aria-hidden="true"></i>
            <br>
            down!! click it and show you more
            </span>
        </span>
    </div>
</div>