<div id="guide1View" class="container">
    <div class="title1 guideView-title">1.Start to use a STACKUP component </div>
    <div class="guideView-xmpContainer">
        <xmp>
var stackup = new stackup();
        
        </xmp>
    </div>
    
    <div class="row guideView-content">
        <span class="guideView-leftCol">
            
        </span>
        <span class="guideView-rightCol">
            <span id="pushToGuid2">
            PUSH!! &nbsp;&nbsp;
            <i class="fa fa-arrow-circle-right title1" aria-hidden="true"></i>
            </span>
        </span>
    </div>
</div>