<div id="guide2View" class="container">
    <div class="title1 guideView-title">2.Initializing a stage, and setting up parameters for appearance</div>
    <div  class="guideView-xmpContainer">
        <xmp>
stackup.initStage(
    {PARAMETERS}
);
        
        </xmp>
    </div>
    <div class="guideView-content row">
        <span class="guideView-leftCol">
            <span id="popToGuid1">
            <i class="fa fa-arrow-circle-left title1" aria-hidden="true"></i> &nbsp;&nbsp; POP!!
            </span>    
        </span>
        <span class="guideView-rightCol">
            <span id="pushToGuid3">
            PUSH!! &nbsp;&nbsp;
            <i class="fa fa-arrow-circle-right title1" aria-hidden="true"></i>
            </span>
        </span>
    </div>
</div>