<div id="guide3View" class="container">
    <div class="guideView-title title1">3.Preparing scripts for each VIEW and each LIFECYCLE</div>
    <div  class="guideView-xmpContainer">
        <xmp>
stackup.prepare(
    "VIEW NAME",
    "LIFECYCLE NAME",
    function(VIEW){
        ... YOUR SCRIPTS ...
    }
)
// furthermore.. you can get 
// parameters or functions 
// from 'VIEW to control 
// current view and stage
        </xmp>
    </div>
    <div class="guideView-content row">
        <span class="guideView-leftCol">
            <span id="popToGuid2">
            <i class="fa fa-arrow-circle-left title1" aria-hidden="true"></i> &nbsp;&nbsp; POP!!
            </span>
        </span>
        <span class="guideView-rightCol">
            <span id="pushToGuid4">
            PUSH!! &nbsp;&nbsp;
            <i class="fa fa-arrow-circle-right title1" aria-hidden="true"></i>
            </span>
        </span>
    </div>
</div>