<div>
    <table class="table" >
        <tbody>
            <tr>
                <td class="font2">
                    <span >Puchase</span>
                    <i class="pull-right fa fa-chevron-right" aria-hidden="true"></i>
                </td>
            </tr>
            <tr>
                <td class="font2">
                    
                    <span >My Account</span>
                    <i class="pull-right fa fa-chevron-right" aria-hidden="true"></i>
                </td>
            </tr>
            <tr>
                <td class="font2">
                    <span >Description</span>
                    <i class="pull-right fa fa-chevron-right" aria-hidden="true"></i>
                </td>
            </tr>
            <tr>
                <td class="font2">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    <span>Contact</span>
                    <i class="pull-right fa fa-chevron-right" aria-hidden="true"></i>
                </td>
            </tr>
            <tr>
                <td>
                 	<div class="font2">
                         <span class="glyphicon glyphicon-log-out" aria-hidden="true" ></span>
                 	   <span>Log out</span>
                        <i class="pull-right fa fa-chevron-right" aria-hidden="true"></i>
                 	</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

